<template>
    <main>
        <p style="text-align: center; color: red; margin-bottom: 10px">My Calculator</p>
        <input type="text" v-model="currentNumber">
        <div class='keys'>
            <button class='op__key' @click="clear" >C</button>
            <button class='op__key' @click="toggleSign">+/-</button>
            <button class='op__key' @click="getOperation('%')">%</button>
            <button class='op__key' @click="getOperation('/')">/</button>
            <button class='num__key' @click="addNumber('7')">7</button>
            <button class='num__key' @click="addNumber('8')">8</button>
            <button class='num__key' @click="addNumber('9')">9</button>
            <button class='op__key' @click="getOperation('X')">x</button>
            <button class='num__key' @click="addNumber('4')">4</button>
            <button class='num__key' @click="addNumber('5')">5</button>
            <button class='num__key' @click="addNumber('6')">6</button>
            <button class='op__key' @click="getOperation('-')">-</button>
            <button class='num__key' @click="addNumber('1')">1</button>
            <button class='num__key' @click="addNumber('2')">2</button>
            <button class='num__key' @click="addNumber('3')">3</button>
            <button class='op__key' @click="getOperation('+')"> +</button>
            <span></span>
            <button class='num__key' @click="addNumber('0')">0</button>
            <button class='num__key' @click="addPoint">.</button>
            <button class='eq__key' @click="equal">=</button>
        </div>
    </main>
</template>

<script>
export default {
    name: 'App',

    data() {
        return {
            currentNumber: '0',
            prevNumber: '',
            operation: ''
        }
    },

    methods: {
        addNumber(number) {
            
            if(this.currentNumber.includes('.') && number == 0) {
                this.currentNumber += number;
            }
            
            if(this.currentNumber == '0' && number != '0') {
                this.currentNumber = '';
            }
            
            if(this.currentNumber == 0 && number == 0) return;
            
            this.currentNumber += number;
        },

        clear() {
            this.currentNumber = '0';
        },

        toggleSign() {
            if(this.currentNumber == 0 && number == 0) return;
            
            if(parseFloat(this.currentNumber) > 0) {
                this.currentNumber = '-' + this.currentNumber ;

            } else {
                this.currentNumber = this.currentNumber.substring(1) ;
            }
        },

        addPoint() {
            if(this.currentNumber.includes('.')) return;
            
            this.currentNumber += '.';
        },

        getOperation(operation){
            this.operation = operation;
            this.prevNumber = this.currentNumber;
            this.clear();
        },
        
        equal() {
            switch(this.operation) {
                case'+' :
                    this.currentNumber = parseFloat(this.prevNumber) + parseFloat(this.currentNumber);
                    break;
                case'-' :
                    this.currentNumber = parseFloat(this.prevNumber) - parseFloat(this.currentNumber);
                    break;
                case'X' :
                    this.currentNumber = parseFloat(this.prevNumber) * parseFloat(this.currentNumber);
                    break;
                case'/' :
                    if(this.currentNumber == 0) {
                        this.currentNumber = "divide on 0 is'nt allowed";
                        return
                    };
                    
                    this.currentNumber = parseFloat(this.prevNumber) / parseFloat(this.currentNumber);
                    break;
                case'%' :
                    this.currentNumber = parseFloat(this.prevNumber) % parseFloat(this.currentNumber);
                    break;
            }
            
            this.currentNumber = this.currentNumber.toString();
        }
    }
}
</script>
